body{
  background-color: Beige;
}
.bootcamp{
  background-color: white;
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 3px 3px 5px black;
  margin-top: 2em;
}

.logo{
  height: 3em;
}
